span.first
{
    font-size: 30px;
    color: rgb(27, 185, 185);
    font-style: normal;
    font-weight: 800;
}
span.second
{
    font-size: 30px;
    color: rgb(53, 51, 51);
    font-style: normal;
    font-weight: 800;
}
.position-absolute h1{
    color:white;
    font-size: 60px;
}
.position-absolute p{
    color:white;
    font-size: 20px;
    text-align: center;
}
 div.work
 {
    height: auto;
    text-align: center;
    padding-top: 50px;
 }
 .work span.p1
 {
    font-size: 40px;
    color: rgb(58, 56, 56);
    font-style: normal;
    font-weight: bold;
 }
 .work span.p2
 {
    font-size: 40px;
    color: rgb(27, 185, 185);
    font-style: normal;
    font-weight: bold;
    align-content: center;
    text-decoration: underline;
    text-underline-offset: 8px;
 }
 .work p
 {
    padding-top: 20px;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
 }

 .bi.bi-calendar-date
 {
    font-size: 7rem;
    color: rgb(65, 215, 205);
 }

 .bi.bi-lock
 {
    font-size: 7rem;
    color: rgb(65, 215, 205);
 }

 .bi.bi-house
 {
    font-size: 7rem;
    color: rgb(65, 215, 205);
 }

 .work-details
 {
   margin-top: 50px;
   margin-bottom: 80px;
 }
 

 .work-details div.row p
 {
   padding-top: 20px;
   font-size: 15px;
   text-align: center;
 }  

 h4.head-1{
   word-spacing: 2px;
   font-style: normal;
   font-weight: 500;
   color: dimgray;
   padding-top: 10px;
 }
 .col-lg-4.col-md-4.col-sm-12.col-xs-12 i.bi {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.words{
   height: auto;
   background-color: rgb(235, 233, 233);
   padding-bottom: 100px;
}

.words span.p1
 {
    font-size: 40px;
    color: rgb(58, 56, 56);
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
 }
 .words span.p2
 {
    font-size: 40px;
    color: rgb(27, 185, 185);
    font-style: normal;
    font-weight: bold;
    align-content: center;
    text-decoration: underline;
    text-underline-offset: 8px;
 }
 p.words-para{
   text-align: center;
   padding-top: 20px;
   font-size: 20px;
   padding-left: auto;
   padding-right: auto;
 }
 div.words-test
 {
   padding-top: 60px;
 }
 div.card
 {
   height: 500pxl;
   border-width: 2px;
   border-style: solid;
   border-color:rgb(33, 222, 222);
 }

 .col-lg-4.col-md-4.col-sm-12.col-xs-12 i.card {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .bi.bi-quote
 {
    font-size: 3rem;
    color: rgb(65, 215, 205);
 }
 .card-body h6 
 {
   text-align: right;
 }
 