span.first
{
    font-size: 30px;
    color: rgb(27, 185, 185);
    font-style: normal;
    font-weight: 800;
}
span.second
{
    font-size: 30px;
    color: rgb(53, 51, 51);
    font-style: normal;
    font-weight: 800;
}
.position-absolute h1{
    color:white;
    font-size: 60px;
}
.position-absolute p{
    color:white;
    font-size: 20px;
    text-align: center;
}
 div.work
 {
    height: auto;
    text-align: center;
    padding-top: 50px;
 }
 .work span.p1
 {
    font-size: 40px;
    color: rgb(58, 56, 56);
    font-style: normal;
    font-weight: bold;
 }
 .work span.p2
 {
    font-size: 40px;
    color: rgb(27, 185, 185);
    font-style: normal;
    font-weight: bold;
    align-content: center;
    text-decoration: underline;
    text-underline-offset: 8px;
 }
 .work p
 {
    padding-top: 20px;
    font-size: 20px;

 }

 .bi.bi-calendar-date
 {
    font-size: 7rem;
    color: rgb(65, 215, 205);
 }

 .bi.bi-lock
 {
    font-size: 7rem;
    color: rgb(65, 215, 205);
 }

 .bi.bi-house
 {
    font-size: 7rem;
    color: rgb(65, 215, 205);
 }

 .work-details
 {
   margin-top: 50px;
 }
 .work-details div.row
 {
   margin-left: 60px;
   margin-right: 60px;
 }

 .work-details div.row p
 {
   padding-top: 20px;
   font-size: 15px;
   text-align: center;
 }  

 i.bi.bi-calendar-date
 {
   padding-left: 100px;
 }
 i.bi.bi-lock
 {
   padding-left: 100px;
 }
 i.bi.bi-house
 {
   padding-left: 100px;
 }
 h4.head-1{
   word-spacing: 2px;
   font-style: normal;
   font-weight: 500;
   color: dimgray;
 }
 @media (min-width: 992px) and (max-width: 1199.98px) {
   i.bi.bi-calendar-date{
      padding-left: 70px;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   i.bi.bi-lock{
      padding-left: 70px;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   i.bi.bi-house{
      padding-left: 70px;
   }
}

@media (min-width: 768px) and (max-width: 991.98px){
 .work-details div.row
 {
   margin-left: 30px;
   margin-right: 30px;
 }

 i.bi.bi-calendar-date
 {
   padding-left: 40px;
 }

 i.bi.bi-lock
 {
   padding-left: 30px;
 }

 i.bi.bi-house
 {
   padding-left: 30px;
 }

}

@media (min-width: 576px) and (max-width: 767.98px) {
   .work p {
      padding-left: 5px;
      padding-right: 5px;
      word-wrap: break-word;
    }
    i.bi.bi-calendar-date
   {
   padding-left: 130px;
   }
   i.bi.bi-lock
   {
     padding-left: 130px;
   }
  
   i.bi.bi-house
   {
     padding-left: 130px;
   }
}

