span.first
{
    font-size: 30px;
    color: rgb(27, 185, 185);
    font-style: normal;
    font-weight: 800;
}
span.second
{
    font-size: 30px;
    color: rgb(53, 51, 51);
    font-style: normal;
    font-weight: 800;
}
.position-absolute h1{
    color:white;
    font-size: 60px;
}
.position-absolute p{
    color:white;
    font-size: 20px;
    text-align: center;
}